<body>

    <head>
        <title>Sahara eCommerce</title>
        <link rel="stylesheet" href="../Assets/CSS/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="top-nav-bar">
            <div class="search-box">
                <i class="fa fa-bars d-md-none d-block" id="menu-btn"></i>
                <i class="fa fa-times d-md-none" id="close-btn"></i>
                <img src="../Assets/Pics/download.jpg" class="img-navbar">
                <input type="text" class="form-control">
                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <div class="menu-bar">
                <ul>
                    <li>
                        <a href="cart.html"><i class="fa fa-shopping-cart"></i>Carrinho</a>
                    </li>
                    <li>
                        <a href="#">Inscrever</a>
                    </li>
                    <li>
                        <a href="#">Logar</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ---------------------categorias------------ -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Categorias</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="../Assets/Pics/messy-pile-woman-clothes-15237862.jpg"
                        alt="Vestuario">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Vestuário</h5>
                        </div>
                        <p class="card-text text-justify">Congue nisi vitae suscipit tellus. Diam volutpat commodo sed
                            egestas egestas fringilla phasellus faucibus. Mattis ullamcorper velit sed ullamcorper morbi
                            tincidunt ornare massa eget. Arcu odio ut sem nulla pharetra diam sit amet nisl. Dictum
                            fusce ut placerat orci nulla.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <button class="btn btn-outline-warning">Ir para categoria</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="../Assets/Pics/istockphoto-494833184-612x612.jpg" alt="Joias">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Jóias</h5>
                        </div>
                        <p class="card-text text-justify"> Phasellus faucibus scelerisque eleifend donec. Massa massa
                            ultricies mi quis hendrerit dolor magna eget est. Eget mauris pharetra et ultrices neque
                            ornare. Purus faucibus ornare suspendisse sed. Sagittis aliquam malesuada bibendum arcu
                            vitae elementum curabitur. Tortor posuere ac ut consequat semper viverra nam. Venenatis
                            lectus magna fringilla urna porttitor. Malesuada fames ac turpis egestas sed tempus urna.
                            Tellus in metus vulputate eu scelerisque felis. Mattis nunc sed blandit libero. Morbi non
                            arcu risus quis varius quam quisque id diam. Erat imperdiet sed euismod nisi porta lorem
                            mollis. Est ullamcorper eget nulla facilisi etiam dignissim diam quis. Imperdiet dui
                            accumsan sit amet nulla facilisi. Sapien nec sagittis aliquam malesuada bibendum arcu vitae
                            elementum curabitur.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <button class="btn btn-outline-warning">Ir para categoria</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="../Assets/Pics/brinquedo.jpg" alt="Brinquedos">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Brinquedos</h5>
                        </div>
                        <p class="card-text text-justify">Eu consequat ac felis donec et odio pellentesque diam. Viverra
                            nibh cras pulvinar mattis. Nisi lacus sed viverra tellus in hac habitasse platea. Sed velit
                            dignissim sodales ut eu sem integer vitae justo. Sit amet commodo nulla facilisi nullam
                            vehicula ipsum a. Quis imperdiet massa tincidunt nunc. Pulvinar pellentesque habitant morbi
                            tristique senectus. Facilisis volutpat est velit egestas dui id ornare arcu odio. Sed cras
                            ornare arcu dui vivamus arcu felis bibendum ut. Quis imperdiet massa tincidunt nunc pulvinar
                            sapien et ligula. Sagittis aliquam malesuada bibendum arcu vitae. Egestas dui id ornare
                            arcu.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <button class="btn btn-outline-warning">Ir para categoria</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="../Assets/Pics/esportes.jpg" alt="Esporte e Lazer">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Esporte e lazer</h5>
                        </div>
                        <p class="card-text text-justify">Mattis vulputate enim nulla aliquet porttitor. Suscipit
                            adipiscing bibendum est ultricies integer quis. A arcu cursus vitae congue mauris rhoncus
                            aenean. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et. Porta
                            lorem mollis aliquam ut porttitor leo a. Lectus arcu bibendum at varius vel pharetra vel.
                            Fringilla urna porttitor rhoncus dolor.</p>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <button class="btn btn-outline-warning">Ir para categoria</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

    </html>